apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: final
data:
  BG_IMAGE_URL: "s3://hamza-project/background.jpg"
  HEADER_NAME: "Hamzaman10"
  DATABASE: "employees"
  DB_HOST: "mysql-service"
  AWS_DEFAULT_REGION: "us-east-1"
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  namespace: final
type: Opaque
stringData:
  password: "password"
  username: "root"